
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Maison Neue Book, Helvetica, Arial, sans-serif;
    font-weight: inherit;
}

nav .nav1{
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: black;
    color: white;
    gap: 10px;
    font-size: 12px;
    
}

nav .nav1 img{
    width: 10px;
    margin-right: 5px;
}

nav .nav1 button{
    display: flex;
    background-color: black;
    color: white;
     border: none;
    cursor: pointer;
    font-size: 10px;
    
}
 
nav .nav2{
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: white;
    color: black;
    gap: 10px;
    /* font-size: 10px; */
    border: 1px solid black;
}

nav .nav2 .navlink1{
    display: flex;
    gap: 1rem;
    margin-left: 15px;
}

nav .nav2 .navlink2{
    display: flex;
    gap: 1rem;
    margin-right: 15px;
}

nav .nav2 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7.2rem;
    
}

nav .nav2 .logo h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    margin-left: 5px;
}

nav .nav3{
    height: 25px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

nav .nav3 .navlink3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
  nav a{
    text-decoration: none;
    color: black;
    font-size: 10px;
    transition: 0.2s;
  }

  nav a:hover{
    /* color: red; */
    text-decoration: underline;
  }

  #home{
    height: 80vh;
    background-image: url(./assets/0d219171_ea15.avif);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
  }
 
  #home .heading{
    display: flex;
    color : white;
    justify-content: center;
    align-items: center;
    height: 60vh;
    
  }

  #home .home-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-top: 120px;
  }
  #home .home-btn a{
    display: flex;
    justify-content: center;
    align-items: center;    
    text-decoration: none;
    color: white;
    gap: 5px;
  }

  #home .home-btn img{
    display: flex;
    height: 10px;
   
  }

  .cat p{
    margin-top: 20px;
    font-size: 13px;
  }

  .item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

  .item-container img{
    height: 470px;
     transition: 0.2s;  
  }

  .item-container img:hover{
    transform: scale(1.01);
  }

  .item-container label{
    font-size: 12px;
  }

  
#parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border-collapse: collapse;
}

#parent img{
  height: 12px;
  
}

#parent a{
  text-decoration: none;
  color: black;
  font-size: 12px;
  
}

#parent p{
  font-size: 12px;
   
}
  
#parent h1{
  font-size: 20px;
}

#parent span{
  font-weight: bold;
}

.div1 {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  background-image: url(./assets/img1.avif);
  background-repeat: no-repeat;
  height: 80vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.div1 .a{
  margin-top: 20px;
}

.div2 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-row-start: 3;
  background-image: url(./assets/img2.avif); 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

.div3 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 3;
  background-image: url(./assets/img3.avif);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-row-start: 5;
  background-image: url(./assets/img4.avif);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.div5 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 5;
  background-image: url(./assets/img5.avif);
  background-position: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

 
 
 .bg{
        background-image: url(./assets/bg2.avif);
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
 }

      .bg h1{
        color: white;
        font-size: 1rem;
        
      }

.footer{
  display: flex;
  margin-top:20px ;
  justify-content: space-between;
}

.footer1{
  display: flex;
   flex-direction: column;
   gap: 10px;
   margin: 10px;
}


.footer2{
  display: flex;
   flex-direction: column;
   gap: 10px;
   margin: 10px;
}


.footer3{
  display: flex;
   flex-direction: column;
   gap: 10px;
   margin: 10px;
}


.footer4{
  display: flex;
   flex-direction: column;
   gap: 10px;
   margin: 10px;
}

.footer4 img{
  height: 10px;
}

.footer4 .term{
   color: #444;
   font-size: 12px;
}

.footer h1{
  font-size: 0.9rem;
}

.footer p{
  font-size: 15px;
}

.footer a{
  text-decoration: none;
  color: black;
  font-size: 12px;
  transition: 0.2s;
}

.footer a:hover{
  text-decoration: underline;
}

.footer input{
  padding: 15px;
  width: 85%;

}

.footer button{
  padding: 16px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.term a{
  color: #444;
}

 

.ft{
  display: flex;
 flex-direction: column;
  gap: 10px;
  margin: 20px;
  
}

.ft1{
  color: #444;
  font-size: 12px;
}

.ft2{
  display: flex;
  font-size: 12px;
  gap: 10px;
}

.ft2 a{
  text-decoration: none;
  color: #444;
  transition: 0.2s;
}

.ft2 a:hover{
  text-decoration: underline;
}

.ft3{
  display: flex;
  font-size: 12px;
  gap: 10px;
  color: #444;
}